<!-- Contact Us Information Card -->
<div class="card" style="width: 100%">
  <div class="card-header h4">Contact Us</div>
  <div class="card-body">
    <div class="row mt-3 mx-3">
      <p>Please, let us know where we can improve!</p>
    </div>

    <div class="row mb-5 mx-3">
      <strong class="mr-1">LinkedIn:</strong>
      <a
        style="color: #6845b8"
        href="https://www.linkedin.com/in/bruno-gorini/?locale=en_US"
      >
        https://www.linkedin.com/in/bruno-gorini</a
      >
    </div>
  </div>
</div>
