<!-- About Us Information Card -->
<div class="card" style="width: 100%">
  <div class="card-header h4">About Us</div>
  <div class="card-body">
    <div class="row mt-3 mx-3">
      <p>
        <strong>FishBuy </strong> is part of a personal project to practice
        full-stack web development. It is not a real store.
      </p>
    </div>

    <div class="row mb-5 mx-3">
      Please let us know if you have any
      <a
        class="ml-1"
        style="color: #6845b8; text-decoration: underline"
        [routerLink]="['/contact-us']"
        >feedback</a
      >.
    </div>
    <div class="row mx-3">
      <p>
        <strong style="color: #fd951f">Founder :</strong>
      </p>
    </div>
    <div class="row mb-3 mx-3">
      <p>Bruno Gorini is a web developer who is an ornamental fish lover.</p>
    </div>
  </div>
</div>
